.kalooz-logo {
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    span {
        display: inline-block;
        font-size: 2rem;
        transition: all 0.3s ease-in-out;
        &:first-child {
            color: white;
            background-color: black;
            padding: 5px 10px;
        }
        &:nth-child(2) {
            color: black;
            padding: 5px 10px;
        }
    }
    &:hover,
    &:focus {
        span {
            &:first-child {
                color: black;
                background-color: white;
            }
            &:nth-child(2) {
                color: white;
                background-color: black;
            }
        }
    }
}