.header-nav {
    flex-grow: 1;
}

.header-nav__list {
    list-style-type: none;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 0 60px;
}

.header-nav__list-item {}

.header-nav__link {
    font-size: 1.25rem;
    color: black;
}